@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}

.title {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0 0 1rem 0;
  text-align: center;
  line-height: 3rem;
}

.subtitle {
  margin-bottom: 2rem;
  text-align: center;
  color: #ddd;
  margin-top: 1.2rem;
}

.hero-button {
  background-color: #ff3030;
  color: #fff;
  padding: 1rem 2rem;
  margin: 1rem;
  border: solid 1px #ff3030;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: transparent;
  border: solid 1px #ff3030;
  color: #ddd;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}
